:root{
  --engrave-dark:#1f140b;
  --engrave-mid:#4a3321;
  --engrave-light:#cbb18a;
  --parchment:#e6d3a3;
  --panel:#f3e3bf;
   --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

html {
  -webkit-text-size-adjust: 100%;
}

